<ngx-ui-loader [loaderId]="'load'" [text]="'Cargando datos'"></ngx-ui-loader>
<div class="container-fluid container-all">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h1>Secciones</h1>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <table class="table ">
        <thead class="thead-dark">
          <tr>
            <!-- <th scope="col" width="5%">#</th> -->
            <th scope="col" width="42%">Nombre</th>
            <th scope="col" width="5%"></th>
            <th scope="col" width="5%" *ngIf="permisos.isAdmin">
              <button type="button" class="btn btn-plus" (click)="agregar()" placement="left" ngbTooltip="Agregar una nueva sección">
                <fa-icon [icon]="faPlus"></fa-icon>
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sec of listaSeccion | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i = index">
            <!-- <td>{{i}}</td> -->
            <td>{{sec.sec_nombre}}</td>
            <td>
              <button type="button" class="btn" (click)="detalle(sec.id)" placement="left" ngbTooltip="Activos asignados a esta sección">
                <fa-icon [icon]="faBook"></fa-icon>
              </button>
            </td>
            <td *ngIf="permisos.isAdmin">
              <button type="button" class="btn" (click)="editar(sec.id)" placement="left" ngbTooltip="Modificar esta sección">
                <fa-icon [icon]="faEdit"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <ngb-pagination [collectionSize]="listaSeccion.length" [(page)]="page" [pageSize]="pageSize"
                aria-label="Default pagination"></ngb-pagination>
    </div>
  </div>
</div>