<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h1>Secciones</h1>
    </div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col" width="5%">#</th>
          <th scope="col" width="42%">Nombre</th>
          <th scope="col" width="42%">Sección</th>
          <th scope="col" width="5%"></th>
          <th scope="col" width="5%">
            <button type="button" class="btn btn-plus" (click)="Agregar()">
              <fa-icon [icon]="faPlus"></fa-icon>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sec of listaSeccion; let i = index">
          <td>{{i}}</td>
          <td>{{sec.sec_nombre}}</td>
          <td>{{sec.sec_ubicacion}}</td>
          <td>
            <button type="button" class="btn" (click)="Detalle(sec.id)">
              <fa-icon [icon]="faBook"></fa-icon>
            </button>
          </td>
          <td>
            <button type="button" class="btn" (click)="Editar(sec.id)">
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>