<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <h1>Departamento</h1>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <table class="table">
          <thead class="thead-dark">
            <th scope="col" width="5%">#</th>
            <th scope="col" width="90%">Departamento</th>
            <th scope="col" width="5%"><button type="button" class="btn btn-plus" (click)="crear()" placement="left"
              ngbTooltip="Agregar un nuevo departamento">
                <fa-icon [icon]="faPlus"></fa-icon>
              </button></th>
          </thead>
          <tbody>
            <tr *ngFor="let dep of listaDepartamento; let i = index">
              <td>{{i}}</td>
              <td>{{dep.dep_nombre}}</td>
              <td>
                <button type="button" class="btn" (click)="editar(dep.id)" placement="left"
                ngbTooltip="Modificar este departamento">
                  <fa-icon [icon]="faEdit"></fa-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>