<div class="form-login ">
    <div class="col-4 ">
        <h1>Login</h1>
        <form [formGroup]="formGroupLogin" class="form-login-border" (ngSubmit)="Submit()">
          <div class="form-group">
            <label for="identificacion">Identificación</label>
            <input type="text" class="form-control form-control-sm" formControlName="identificacion" id="identificacion"
              autocomplete="username" placeholder="Escriba su usuario"
              [ngClass]="{'is-invalid': fGLogin.identificacion.errors && fGLogin.identificacion.touched}">
            <div *ngIf="fGLogin.identificacion.errors?.required" class="invalid-feedback">
              <div class="form-control-feedback text-danger" *ngIf="fGLogin.identificacion.errors?.required">
                * El usuario es requerido
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="clave">Clave</label>
            <input type="password" class="form-control form-control-sm" formControlName="clave" id="clave"
              autocomplete="new-password" placeholder="Escriba la clave"
              [ngClass]="{'is-invalid': fGLogin.clave.errors && fGLogin.clave.touched}">
            <div *ngIf="fGLogin.clave.errors?.required" class="invalid-feedback">
              <div class="form-control-feedback text-danger" *ngIf="fGLogin.clave.errors?.required">
                * La clave es requerida
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="usuarioNoEncontrado">
            <div class="form-control-feedback text-danger">
              * Usuario no encontrado, intente de nuevo
            </div>
          </div>
          <a class="nav-link" [routerLink]="['/account','recovery']"><span>¿Has olvidado tu contraseña?</span></a>
          <a class="nav-link" [routerLink]="['/account','registro']"><span>Registrate</span></a>
          <div class="form-group">
            <button class="btn btn-lg btn-block btn-primary" type="submit" [disabled]="formGroupLogin.invalid">Ingresar</button>
          </div>
        </form>
      </div>
</div>