.form-registro {
    display: flex;
    justify-content: center;
}

.form-registro-border {
    border: 1px #ececec solid;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    padding: 2%;
}