<ngx-ui-loader [loaderId]="'load'" [text]="'Cargando datos'"></ngx-ui-loader>
<div class="container-fluid">
  <div class="col-lg-4 col-md-4 col-sm-4">
    <h1>Usuarios</h1>
  </div>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col" width="5%">#</th>
        <th scope="col" width="42%">Identificación</th>
        <th scope="col" width="42%">Nombre</th>
        <th scope="col" width="5%">
          <button type="button" class="btn btn-plus" (click)="agregarUsuario()">
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usu of listaUsuarios | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i = index">
        <td>{{i}}</td>
        <td>{{usu.usu_identificacion}}</td>
        <td>{{usu.usu_nombre}}</td>
        <td> <button type="button" class="btn btn-plus" (click)="editarUsuario(usu.id)">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination [collectionSize]="listaUsuarios.length" [(page)]="page" [pageSize]="pageSize"
                aria-label="Default pagination"></ngb-pagination>
</div>