.border-container {
    border: solid 1px gray;
    border-radius: 2%;
    padding: 2%;
}
.container-data {
    margin-top: 5%;
}

.table-seccion {
    margin-top: 5%;
}
.contenedor-top{
    display: flex;
    flex-wrap: wrap;
}
.table-scroll {
    overflow-x: auto;
}