<div class="container-fluid">

  <div class="col-lg-12 col-md-12 col-sm-12">
    <h1 class="">Perfil</h1>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div>
      <p id="nombre">Nombre: {{usuario.usu_nombre}}</p>
    </div>
    <div>
      <p id="identificacion">Identificación: {{usuario.usu_identificacion}}</p>
    </div>
    <div>
      <p id="correo">Correo: {{usuario.usu_nombre}}</p>
    </div>
    <button (click)="editarPerfil()" class="btn btn-primary">modificar</button>
  </div>
  <section class="table-seccion">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col" width="5%">#</th>
            <th scope="col" width="10%">N° Activo</th>
            <th scope="col" width="10%">Descripción</th>
            <th scope="col" width="10%">Serie</th>
            <th scope="col" width="10%">Modelo</th>
            <th scope="col" width="10%">Marca</th>
            <th scope="col" width="10%">Observaciones</th>
            <th scope="col" width="10%">Estado</th>
            <th scope="col" width="10%">Costo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let act of listaActivos; let i = index">
            <td>{{i}}</td>
            <td>{{act.act_numero_activo}}</td>
            <td>{{act.act_descripcion}}</td>
            <td>{{act.act_serie}}</td>
            <td>{{act.act_modelo}}</td>
            <td>{{act.act_marca}}</td>
            <td>{{act.act_observacion}}</td>
            <td>{{act.act_estatus}}</td>
            <td>{{act.act_costo}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section class="table-seccion">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col" width="5%">#</th>
              <th scope="col" width="10%">N° Formulario</th>
              <th scope="col" width="10%">Estado</th>
              <th scope="col" width="10%">Tipo de Solicitud</th>
              <th scope="col" width="10%">Ver</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sol of listaSolicitudes; let i = index">
              <td>{{i}}</td>
              <td>{{sol.sbja_numero_formulario}}</td>
              <td>{{sol.sbja_estado_solicitud? "Aprovada" : "No aprovada"}}</td>
              <td>{{sol.sbja_solicitud_traspaso? "Traspaso" : "De baja"}}</td>
              <td><Button class="btn btn-primary" (click)="verSolicitud(sol.id)">Ver Solicitud</Button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
</div>