<div class="contenedor-scanner">
  <h1>
    Escaner
  </h1>
  <div *ngIf="listaDispositivos">
    <select (change)="dispositivoSeleccionado($event.target.value)" class="form-control">
      <option value="" [selected]="!seleccionDispositivo">Seleccione un dispositivo para escanear</option>
      <option *ngFor="let device of listaDispositivos" [value]="device.deviceId"
        [selected]="seleccionDispositivo && device.deviceId === seleccionDispositivo.deviceId">{{ device.label }}
      </option>
    </select>
  </div>
  <p>
    {{mensajeAccion}}
  </p>
  <div [hidden]="true" class="ventana-camara">

    <zxing-scanner #scanner start="true" [device]="seleccionDispositivo"
      (scanSuccess)="escaneo($event)" [formats]="['QR_CODE', 'EAN_13', 'CODE_128', 'DATA_MATRIX']">
    </zxing-scanner>

    <h2 *ngIf="!this.seleccionDispositivo">No se ha seleccionado un dispositivo</h2>
  </div>
  

  <div *ngIf="!camara && permisos === true">

    <h1>Parece que no tienes permisos para usar la cámara o el dispositivo no se puede encontrar</h1>

  </div>

  <div *ngIf="permisos === undefined">

    <h1>Esperando para asignar permisos.</h1>

  </div>

  <div *ngIf="permisos === false">

    <h1>No tienes permisos para usar la cámara</h1>

  </div>

  <div class="table-container" *ngIf="activosVacio">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col" width="2%">#</th>
            <th scope="col" width="5%">N° Activo</th>
            <th scope="col" width="5%">Descripción</th>
            <th scope="col" width="5%">Serie</th>
            <th scope="col" width="5%">Modelo</th>
            <th scope="col" width="5%">Marca</th>
            <th scope="col" width="5%">Ubicación</th>
            <th scope="col" width="5%">Estado</th>
            <th scope="col" width="5%">Costo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let act of listaActivos; let i = index">
            <td>{{i}}</td>
            <td width="5%">{{act.act_numero_activo}}</td>
            <td width="5%">{{act.act_descripcion}}</td>
            <td width="5%">{{act.act_serie}}</td>
            <td width="5%">{{act.act_modelo}}</td>
            <td width="5%">{{act.act_marca}}</td>
            <td width="5%">{{act.act_seccion_modelo.sec_nombre}}</td>
            <td width="5%">{{act.act_estatus? "N/A" : "D"}}</td>
            <td width="5%">{{act.act_costo}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="!activosVacio" class="mensaje">
      No hay activos escaneados
    </div>
</div>