<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4" *ngIf="seccion">
      <h1>Sección: {{seccion.sec_nombre}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
     <div class="table-container">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col" width="5%">#</th>
            <th scope="col" width="10%">N° Activo</th>
            <th scope="col" width="10%">Descripción</th>
            <th scope="col" width="10%">Serie</th>
            <th scope="col" width="10%">Modelo</th>
            <th scope="col" width="10%">Marca</th>
            <th scope="col" width="10%">A cargo de</th>
            <th scope="col" width="10%">Estado</th>
            <th scope="col" width="5%">
              <button type="button" class="btn btn-plus" (click)="Agregar()" placement="left"
              ngbTooltip="Agregar un nuevo activo">
                <fa-icon [icon]="faPlus"></fa-icon>
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let act of listaActivo | slice: (pag-1) * pageSize : (pag-1) * pageSize + pageSize; let i = index">
            <td>{{i}}</td>
            <td>{{act.act_numero_activo}}</td>
            <td>{{act.act_descripcion}}</td>
            <td>{{act.act_serie}}</td>
            <td>{{act.act_modelo}}</td>
            <td>{{act.act_marca}}</td>
            <td>{{act.act_usuario.usu_identificacion}}</td>
            <td>{{act.act_estatus? 'N/I' : 'D'}}</td>
            <td>
              <button type="button" class="btn" (click)="Editar(act.id)" placement="left"
              ngbTooltip="Editar activo">
                <fa-icon [icon]="faEdit"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
     </div>
      <ngb-pagination [collectionSize]="listaActivo.length" [(page)]="pag" [pageSize]="pageSize"
          aria-label="Default pagination"></ngb-pagination>
    </div>
    <div *ngIf="vacio" width="100%">
      No hay activos asignados a esta sección
    </div>
  </div>
</div>