<div class="solicitud-container">
  <div class="col-lg-8 col-md-8 col-sm-8">
    <h1>Solicitudes</h1>
  </div>

  <div>
    <section>
      <div class="form-container">
        <form action="" [formGroup]="formGroupSolicitud" (ngSubmit)="submit()">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
              <label for="numeroFormulario">Número de solicitud</label>
              <input type="text" class="form-control form-control-sm" formControlName="numeroFormulario"
                id="numeroFormulario" placeholder="Escriba el número de formulario"
                [ngClass]="{'is-invalid': fGSolicitud.numeroFormulario.errors && fGSolicitud.numeroFormulario.touched}">
              <div *ngIf="fGSolicitud.numeroFormulario.errors?.required" class="invalid-feedback">
                <div class="form-control-feedback text-danger" *ngIf="fGSolicitud.numeroFormulario.errors?.required">
                  * El número de activo es requerido
                </div>
              </div>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" formControlName="tipoSolicitud" id="tipoSolicitud"
                placeholder="Escriba el número de formulario"
                [ngClass]="{'is-invalid': fGSolicitud.tipoSolicitud.errors && fGSolicitud.tipoSolicitud.touched}"
                (change)="checkedChange()">
              <label class="form-check-label" for="tipoSolicitud">
                ¿Solicitud de traspaso?
              </label>
            </div>
            <div class="form-group" *ngIf="isTraspaso">
              <label for="usuario">Persona a asignar</label>
              <select class="form-control form-control-sm" formControlName="usuario" id="usuario"
                placeholder="Escriba el número de formulario"
                [ngClass]="{'is-invalid': fGSolicitud.usuario.errors && fGSolicitud.usuario.touched}"
                (change)="usuarioSelecionado(s.value)" #s>
                <option value="">Selecione un usuario</option>
                <option [value]="usu.id" *ngFor="let usu of listaUsuario">{{usu.usu_identificacion}}</option>
              </select>
              <div *ngIf="fGSolicitud.usuario.errors?.required" class="invalid-feedback">
                <div class="form-control-feedback text-danger" *ngIf="fGSolicitud.usuario.errors?.required">
                  * El nuevo responsable es requerido
                </div>
              </div>
            </div>
          </div>
          <div id="activos">
            <h2 class="sections">Activos</h2>
            <div class="table-container">
              <table class="table table-bordered">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col" width="5%">#</th>
                    <th scope="col" width="10%">N° Activo</th>
                    <th scope="col" width="10%">Descripción</th>
                    <th scope="col" width="10%">Serie</th>
                    <th scope="col" width="10%">Modelo</th>
                    <th scope="col" width="10%">Marca</th>
                    <th scope="col" width="10%">Observaciones</th>
                    <th scope="col" width="5%">Estado</th>
                    <th scope="col" width="5%">Costo</th>
                    <th scope="col" width="10%">
                      Dar de baja
                    </th>
                  </tr>
                </thead>
                <tbody >
                  <tr *ngFor="let act of listaActivos; let i = index">
                    <td>{{i}}</td>
                    <td>{{act.act_numero_activo}}</td>
                    <td>{{act.act_descripcion}}</td>
                    <td>{{act.act_serie}}</td>
                    <td>{{act.act_modelo}}</td>
                    <td>{{act.act_marca}}</td>
                    <td>{{act.act_observacion}}</td>
                    <td>{{act.act_estatus}}</td>
                    <td>{{act.act_costo}}</td>
                    <td align="center">
                      <input type="checkbox" (change)="agregarActivoSolicitud(act.id)">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-submit" [disabled]="isFormularioValido || isSubmit"
              type="submit">Guardar</button>
            <button class="btn btn-primary btn-submit" (click)="captureScreen()" [disabled]="isFormularioValido"
              type="button">Descargar PDF</button>
          </div>
        </form>
      </div>
    </section>
    <app-pdf-generador [usuario]="usuario" [listaActivosSolicitud]="listaActivosSolicitud" [nuevoUsuario]="nuevoUsuario" [isTraspaso]="isTraspaso"></app-pdf-generador>
  </div>

</div>