.solicitud-container {
    background-color: white;
}
.img-size {
    width: 25%;
}
.form-container {
    width: 100%;
}
.img-section {
    margin-bottom: 2%;
}
.table-container {
    max-height: 500px;
    overflow-y: auto;
}
#estructura-pdf {
    padding: 2%;
}
h2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sections {
    margin-top: 10px;
    padding-top: 5px;
}
#solicitud-mensaje-sinactivos {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}
#solicitud-mensaje-sinactivos p {
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
}